    @charset "utf-8";
    $mainColor:#d22121;
    $fontColor:#666;
    @mixin flex-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // display: -webkit-flex;
        // -webkit-flex-wrap: wrap;
        // flex-align: start;
        // align-content: flex-start;
        // flex-flow: row wrap;
        // justify-content: flex-start;
    }
    
    @mixin outlinenone {
        outline: none;
    }
    
    footer {
        @include flex-row;
        // display: inline-flex;
        // flex-direction: row;
        // width: 100%;
        div {
            width: 25%;
            // display: inline-block;
            text-align: center;
            color: $fontColor;
            // flex-grow: 1;
            // flex-shrink: 1;
            // flex-basis: 0;
            &.on {
                color: $mainColor;
            }
            i.iconfont {
                display: block;
                font-size: 26px;
            }
            i.icon-wodedingdan {
                font-size: 24px;
            }
        }
    }
    
    header {
        background-color: $mainColor;
        height: 50px;
        // line-height: 50px;
        .header-wrap {
            padding-top: 10px;
        }
        span {
            color: #fff;
            width: 20%;
            display: inline-block;
            text-align: center;
        }
        .search {
            @include outlinenone();
            border: none;
            height: 30px;
            border-radius: 20px;
            width: 75%;
            background-image: url(../images/svg/search.svg);
            background-size: 24px 24px;
            background-position: 6px 3px;
            background-repeat: no-repeat;
            padding-left: 30px;
        }
    }
    
    .swiper-wrapper {
        span {
            display: inline-block;
            // width: 100%;
            padding: 15.64% 50%;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    
    .category {
        @include flex-row();
        >div {
            width: 20%;
            text-align: center;
            color: $fontColor;
            //以下被注释的样式可以不用
            // flex: 1;
            // -webkit-flex: 1 1 20%;
            div {
                padding: 38% 50%;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            span {
                color: $fontColor;
                font-size: 12px;
            }
        }
    }