footer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
footer div {
  width: 25%;
  text-align: center;
  color: #666;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer div.on {
  color: #d22121;
}
footer div i.iconfont {
  display: block;
  font-size: 24px;
}

header {
  background-color: #d22121;
  height: 50px;
  line-height: 50px;
}
header span {
  color: #fff;
  width: 20%;
  display: inline-block;
  text-align: center;
}
header .search {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  height: 30px;
  border-radius: 20px;
  width: 75%;
  background-image: url(../images/svg/search.svg);
  background-size: 24px 24px;
  background-position: 6px 3px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
